/* Google font*/
@import url(http://fonts.googleapis.com/css?family=Philosopher);


/* Override styles */

body {
    font-size: 17.5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  min-height: 130px;

}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.2em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#slider .container-full, #service .container-full, #portfolio .container-full, #testimonial .container-full, #aboutus .container-full, #contactus .container-full {
    background-color: white;
    border: none;
}

#slider .container-full {
    background-size: cover;
    min-height: 100vh;
    max-height: none;
    background-image: url(../images/kitchen.jpg);
}




#header .navbar {
    background-color: #73806e;
}

#header .nav {
    margin-top: 20px;
}

#header .navbar-header a {
    font-family: "Philosopher";
    font-size: 2.5em;
    padding:0;
    margin-top:25px;
    line-height: 25px;
    color: #f0e9cc;
}

#header .navbar-nav a {
    color: #f0e9cc;
}

#header .navbar-nav>li.current>a {
    color: #f0e9cc;
}

#header .navbar-fixed-top  .navbar-header a {
    font-size: 1.6em;
    line-height: 15px;
    margin-top: 10px;
}

.tag {
    font-size: .6em;
    padding: 0;
    margin:0;
}

#service ul.simple-bullets {
    list-style: circle;
    margin-left: 15px;
}

#service .col-xs-6 div.garden {
    height: 10vw;
    min-height: 150px;
    background: url("../images/garden2-cropped.png") no-repeat;
    background-size: cover;
}

#service .col-xs-6 div.bathroom {
    height: 10vw;
    min-height: 150px;
    background: url("../images/bathroom-cropped.png") no-repeat;
    background-size: cover;
}

#service .col-xs-6 div.painting {
    height: 10vw;
    min-height: 150px;
    background: url("../images/fireplace.png") no-repeat;
    background-size: cover;
}

#service .col-xs-6 div.wall {
    height: 10vw;
    min-height: 150px;
    background: url("../images/hammer-700.png") no-repeat;
    background-size: cover;
}


#testimonial .testsection, #service .servicediv {
    background-color: white;
}

#testimonial .heading {
    border: none;
}

.call-me {
    margin-top:15px;
    font-size: 1.5em;
}

#footer .container-full {
 background-color: #73806e;   
}

#contactus p.phone {
    font-size: 1.9em;
}

.copyright p {
    line-height: 20px;
}

#service .col-xs-6 div {
    min-height: 350px;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;

    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 20px 0px;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    transition-duration: 250ms;
}

#service .col-xs-6 div:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;

    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    transition-duration: 250ms;
    position: relative;
    z-index: 99;
    cursor: inherit;
}

.heading {
    padding-bottom: 30px;
    border-top: 1px solid #f7f8f8;
    width: 100%;
}


#slider .radius {
    border-radius: 15px;
    background-color: rgba(115, 128, 110, 0.75);
}

#slider .slide-element p {
    font-size: 1.2em;
    padding: 12px;
    color: #ddd;
}

#slider .slide-element ul {
    color: #ddd;
}

.goodtoknow {
    
    background-color: rgba(115, 128, 110, 0.75);
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
}



.goodtoknow ul {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    list-style-type: none;
    

    /*font-size: 1.1em; */

}


.goodtoknow ul li {
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid rgba(115, 128, 110, 0.9);
    margin: 0 5px 0 5px;
    
    font-size: 1.2em;
}

#contactus .gettouch {
    min-height: 200px;
}

#scroller .gototop {
    background-color: white;
}

@media screen and (max-width:1200px)
{

    


    #slider .container-full {
 
        
    }
        



    
}

@media screen and (max-width:992px)
{
    

    #contactus .col-md-6
    {
        width: 100%;
    }
    #contactus .col-md-5{
        width: 100%;
        float: none;
        margin: 20px 0px;
    }
}

@media screen and (max-width:800px)
{
    #service .col-xs-6, #testimonial .col-xs-6 {
        width: 100%;
    }
    #slider .col-xs-5 {
    margin: 0 5px 0 5px;
    }
    #slider .col-xs-2 {
        display: none;
    }


}

@media screen and (max-width:610px)
{   
    #slider .col-xs-5 {
        width: 100%;
        margin-bottom: 20px;
    }
    #slider .goodtoknow {
        margin-top: 20px;
    }
    #service .col-xs-6 {
        width: 100%;
    }
    #slider .container-full {
        background-image: none;
        
        max-height: none;
    }

}
