/* Google font*/
@import url(http://fonts.googleapis.com/css?family=Philosopher);


/* Override styles */

#slider .container-full, #service .container-full, #portfolio .container-full, #testimonial .container-full, #aboutus .container-full {
    background-color: #f0e9cc;
    height: 100%;
    max-height: none;
}

#header .navbar {
    background-color: #73806e;
}

#header .navbar-header a {
    font-family: "Philosopher";
    font-size: 2.5em;
    padding:0;
    margin-top:25px;
    line-height: 25px;
}

#header .navbar-fixed-top  .navbar-header a {
    font-size: 1.6em;
    line-height: 15px;
    margin-top: 10px;
}

.tag {
    font-size: .6em;
    padding: 0;
    margin:0;
}

#testimonial .testsection, #service .servicediv {
    background-color:#f0e9cc;
}

#footer .container-full {
 background-color: #73806e;   
}

div.copyright {
    
    
}

.copyright p {
    line-height: 20px;
}

#service .col-xs-6 div {
    min-height: 350px;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;

    -webkit-box-shadow: 0 0 1px 1px rgba(165,165,165,.2);
    box-shadow: 0 0 1px 1px rgba(165,165,165,.2);
    margin: 20px 0px;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    transition-duration: 250ms;
}

#service .col-xs-6 div:hover {
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    color: black;

    -webkit-transform: scale(1.02,1.02);
    -moz-transform: scale(1.02,1.02);
    -o-transform: scale(1.02,1.02);
    -ms-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -ms-transition-duration: 250ms;
    transition-duration: 250ms;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.heading {
    padding-bottom: 30px;
    border-top: 1px solid #f7f8f8;
    width: 100%;
}

#slider .container-full {
    margin:0;
    padding:0;  
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:contain;
    height: 100vh;
    width: 100%;
    position:relative;
    bottom:0px;
    top:0px;
    margin-top:0px;
    margin-bottom:0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    max-height:100%;
    max-width:100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bgs/bg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bgs/bg.jpg', sizingMethod='scale')";
font-family:Trebuchet MS, Arial, 'Helvetica', sans-serif;
font-size:1em;
}
#slider .radius {
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.75);
}

#slider .slide-element p {
    font-size: 1.5em;
    padding: 12px;



}



.goodtoknow ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid #ddd;
    /*font-size: 1.1em; */
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    color: black;

    
}

.goodtoknow ul li {
    padding: 7px 0 7px 30px;
    border-bottom: 1px solid #ddd;
    margin: 0 5px 0 5px;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width:1200px)
{
    #slider .radius {
        border-radius: 15px;
        background-color: rgba(200, 200, 200, .5);
    }


    #slider .container-full {
 
        max-height: none;
    }
        #slider .col-xs-5 {
        width: 100%;
        margin-bottom: 20px;
    }

    #slider .goodtoknow {
        margin-top: 170px;
    }
}

@media screen and (max-width:800px)
{
    #service .col-xs-6 {
        width: 100%;
    }
    #slider .goodtoknow {
        margin-top: 20px;
    }

    


}

@media screen and (max-width:610px)
{   
        #service .col-xs-6 {
            width: 100%;
        }
        #slider .container-full {
        background-image: none;
        background-color: #f0e9cc;
        max-height: none;
    }

    }
